* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Now", Arial, sans-serif;
	color: #000;
	font-size: 18px;
}
body {
    background-color: #434393;
    background-image: url("../img/bg-img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


/* form */
.register-form,
.login-form {
    position: absolute;
    width: 25rem;
    height: 35rem;
    display: inline-block;
    text-align: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: #F9F6F6;
    box-shadow: 0 0 20px white;
    border-radius: 50px;
    padding: 3rem;

}

.login-form .form-title{
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight:bolder;
}

.register-form .form-title{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight:bolder;
}

.form-signup-link{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #DA83FF;
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
    padding-top: 3rem;
}

.form-login-link{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #DA83FF;
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
}

.register-form .form-control {
	position: relative;
	padding-bottom: 1rem;
    /* margin: 2rem 0 3rem; */
}

.login-form .form-control {
	position: relative;
	padding-bottom: 3rem;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input,
.form-control textarea {
	border: 2px solid #f0f0f0;
	border-radius: 50px;
	display: block;
	padding: 10px;
	width: 100%;
}

.form-control.success input,
.form-control.success textarea {
	border-color: #2ecc71;
}

.form-control.error input,
.form-control.success textarea {
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #DA83FF;
	border: 2px solid #DA83FF;
	border-radius: 50px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin: 2rem 0 2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 30%;
}
